h2 {color: red;}
h1{text-align: center;}
address{text-align: right;}
strong{font-size: xx-large;}
#ifr{font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}  
pre{color: skyblue;}  